html,
body {
  height: 100%;
}

body {
  font-family: $base-font;
  background: $light;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  @media (min-width: 450px) {
    padding: 0 24px;
  }
  @media (min-width: 860px) {
    padding: 0 40px;
  }
}

img {
  max-width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

p {
  margin: 0 0 8px;
}

a {
  color: $blue;
  border-bottom: 1px solid rgba($blue, 0.2);
  line-height: 1.2;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: $red;
    border-bottom-color: $red;
    text-decoration: none;
    transition: 0.1s;
  }
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

main {
  padding-bottom: 64px;
}

.mobile-hidden {
  display: none;
  @media (min-width: 1360px) {
    display: block;
  }
}

.icon-copy {
  white-space: nowrap;
  &:hover{
    color: $blue;
    border-bottom-color: $blue;
    transition: 0.3s;
  }
  &.temp-hover{
    color: $red;
    border-bottom-color: $red;
    text-decoration: none;
    transition: 0.1s;
    &:before, &:after {
      filter: invert(13%) sepia(96%) saturate(3733%) hue-rotate(352deg) brightness(85%) contrast(94%);
      transition: 0.1s;
    }
    span {
      border-color: $red;
      transition: 0.1s;
    }
  }
  &:before {
    content: "";
    filter: invert(22%) sepia(98%) saturate(3314%) hue-rotate(226deg) brightness(79%) contrast(97%);
    background-image: url("./images/icon-copy.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    margin-bottom: -1px;
    transition: 0.3s;
  }
  span {
    border-bottom: 1px dashed rgba($blue, 0.2);
    transition: 0.3s;
  }
}

.icon-external {
  white-space: nowrap;
  &:after {
    content: "";
    filter: invert(22%) sepia(98%) saturate(3314%) hue-rotate(226deg) brightness(79%) contrast(97%);
    background-image: url("./images/external-link.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 4px;
    margin-bottom: -2px;
    transition: 0.3s;
  }
  span {
    border-bottom: 1px solid rgba($blue, 0.2);
    transition: 0.3s;
  }
}

.copy-modal{
  color: $black;
  background: $white;
  box-shadow: 0 8px 8px rgba($black, 0.25);
  font-weight: 300;
  text-align: center;
  display: block;
  border-radius: 8px;
  position: absolute;
  font-size: 16px;
  padding: 4px 12px;
  visibility: hidden;
  min-width: 70px;
  opacity: 0;
  z-index: -1;
  transition: 0.2s;
}

.show {
  opacity: 0;
  transition: opacity 0.5s ease;
}