body {
  &.active {
    .nav-opener {
      span {
        &:nth-child(1) {
          top: 50%;
          width: 0;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 50%;
          width: 0;
          left: 50%;
        }
      }
    }
    .languages {
      width: 100%;
      height: fit-content;
      position: absolute;
      top: 40px;
      left: 0;
      overflow: hidden;
      z-index: 2;
      .language-list {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 0.1s;
      }
    }
    .blur {
      visibility: visible;
      opacity: 1;
    }
  }
}

.blur {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.header {
  padding: 24px 0;
  margin-bottom: 80px;
  .container {
    position: relative;
    @media (min-width: 984px) {
      display: flex;
      align-items: flex-start;
    }
  }
}

.languages {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 40px;
  left: 0;
  overflow: hidden;
  z-index: 2;
  @media (min-width: 540px) {
    position: static;
    width: fit-content;
    margin-left: 100px;
  }
  @media (min-width: 984px) {
    margin: 0;
  }
}

.language-list {
  background: $light;
  list-style-type: none;
  position: relative;
  font-size: 14px;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: fit-content;
  padding: 20px 40px;
  transition: 0.3s;
  @media (min-width: 540px) {
    position: static;
    transform: none;
    padding: 0;
    opacity: 1;
    visibility: visible;
    flex-direction: row;
    margin: 0 -20px;
  }
  @media (min-width: 984px) {
    flex-direction: column;
    margin: 0;
  }
  li {
    margin-bottom: 20px;
    @media (min-width: 540px) {
      padding: 0 20px;
      margin-bottom: 0;
    }
    @media (min-width: 984px) {
      padding: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.active {
      a, span {
        color: $accent;
        border-bottom-color: transparent;
      }
    }
  }
  a, span {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid $accent;
    @media (min-width: 540px) {
    }
  }
}

.header-top {
  background: $light;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 44px;
  @media (min-width: 984px) {
    justify-content: flex-start;
    width: 286px;
    padding-right: 46px;
  }
  @media (min-width: 2540px) {
    width: 70px;
  }
}

.nav-opener {
  font-size: 0;
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 2;
  @media (min-width: 540px) {
    display: none;
  }
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $black;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 1px;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 50%;
      transform: rotate(0deg) translateY(-50%);
    }
    &:nth-child(4) {
      bottom: 1px;
    }
  }
}

.info-holder {
  @media (min-width: 984px) {
    width: 74%;
  }
  @media (min-width: 1920px) {
    width: 82%;
  }
  @media (min-width: 1920px) {
    width: calc(100% - 70px);
  }
  .image {
    width: 4.375vw;
    min-width: 40px;
    min-height: 40px;
    height: 4.375vw;
    position: absolute;
    left: 16px;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    @media (min-width: 450px) {
      left: 24px;
    }
    @media (min-width: 860px) {
      position: static;
      display: inline-block;
      left: 40px;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .text {
    @media (min-width: 860px) {
      display: flex;
      align-items: flex-start;
      margin: 0 -8px;
    }
    @media (min-width: 984px) {
      flex-direction: column;
      max-width: 630px;
      width: 100%;
    }
    @media (min-width: 1280px) {
      flex-direction: row;
      max-width: unset;
    }
    @media (min-width: 2540px) {
      font-size: 24px;
      line-height: 1.333;
      padding-left: 8.46vw;
    }
    .col-left {
      @media (min-width: 860px) {
        width: 67%;
        padding: 0 8px;
      }
      @media (min-width: 984px) {
        width: 100%;
      }
      @media (min-width: 1280px) {
        width: 67%;
        max-width: unset;
      }
      @media (min-width: 1920px) {
        column-count: 2;
      }
    }
    .col-right {
      @media (min-width: 860px) {
        width: 33%;
        padding: 0 8px;
      }
      @media (min-width: 984px) {
        width: 100%;
        max-width: 420px;
      }
      @media (min-width: 1280px) {
        width: 33%;
        max-width: unset;
      }
    }
  }
}

h1 {
  font-family: $second-font;
  text-transform: uppercase;
  font-size: 7.5vw;
  line-height: 1;
  font-weight: 400;
  margin: 0 0 32px;
  @media (min-width: 540px) {
    font-size: 5.92vw;
    line-height: 0.7;
  }
  @media (min-width: 860px) {
    font-size: 6.5vw;
  }
  @media (min-width: 1280px) {
    font-size: 6.25vw;
  }
  @media (min-width: 2540px) {
    font-size: 6.29vw;
  }
  em {
    font-weight: 300;
  }
}