$white: #fff;
$black: #000;
$accent: #FF2E00;
$light: #F8F8F8;
$blue: #0046CF;

$base-font:  "Titillium Web", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$second-font: "Cormorant Garamond", "Times", "Baskerville", "Georgia", serif;