$white: #fff;
$black: #000;
$accent: #FF2E00;
$light: #F8F8F8;
$blue: #0046CF;
$brown: #3e3e3e;
$gray: #e2e2e2;
$beige: #f3f3f3;

$base-font:  "Titillium Web", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$second-font: "Cormorant Garamond", "Times", "Baskerville", "Georgia", serif;
$third-font: "Cormorant", "Times", "Baskerville", "Georgia", serif;
$fourth-font:  "Manrope", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
