$white: #fff;
$black: #000;
$accent: #ff2e00;
$light: #f8f8f8;
$blue: #1b45c7;
$brown: #3e3e3e;
$gray: #e2e2e2;
$beige: #f3f3f3;
$red: #b01818;

$base-font: "Titillium Web", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$second-font: "Cormorant Garamond", "Times", "Baskerville", "Georgia", serif;
$third-font: "Cormorant", "Times", "Baskerville", "Georgia", serif;
$fourth-font: "Manrope", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$inter-font: "Inter", "Arial", "Helvetica Neue", "Helvetica", sans-serif;

@property --startColor {
  syntax: '<color>';
  initial-value: #1A0E50;
  inherits: false;
}

@property --endColor {
  syntax: '<color>';
  initial-value: #6E1563;
  inherits: false;
}