.projects {

}

.project {
  margin-bottom: 16px;
  @media (min-width: 860px) {
    display: grid;
    column-gap: 4px;
    row-gap: 16px;
    grid-template-areas:
    "lefttop righttop righttop"
    ".  righttop righttop";
    grid-auto-rows: auto;
    grid-template-columns:28.3vw 1fr 1fr;
  }
  @media (min-width: 980px) {
    grid-template-columns:  min(28.3vw, 276px) 1fr 1fr;
  }
  @media (min-width: 1360px) {
    row-gap: 40px;
    grid-template-areas:
    "lefttop righttop righttop"
    ".  righttop righttop";
  }
  &.two-col {
    grid-template-areas:
    "lefttop"
    "righttop"
    "leftbottom"
    " rightbottom";
    @media (min-width: 860px) {
      grid-template-areas:
   "lefttop righttop righttop"
    "leftbottom  rightbottom rightbottom";
    }
    @media (min-width: 1360px) {
      grid-template-areas:
    "lefttop righttop rightbottom"
    "leftbottom  righttop rightbottom";
    }
    @media (min-width: 1570px) {
      grid-template-areas:
    "lefttop righttop rightbottom"
    "leftbottom  righttop rightbottom"
    ".  righttop rightbottom";
    }
    &.mobile-first-hidden {
      grid-template-areas:
    "leftbottom"
    " rightbottom";
      @media (min-width: 860px) {
        grid-template-areas:
    "leftbottom  rightbottom rightbottom";
      }
      @media (min-width: 1360px) {
        grid-template-areas:
    "lefttop righttop rightbottom"
    "leftbottom  righttop rightbottom"
    ".  righttop rightbottom";
      }
      .item-rt, .item-lt {
        display: none;
        @media (min-width: 1360px) {
          display: flex;
        }
      }
    }
    .bg {
      &.decor-table {
        &:before {
          content: "";
          background-image: url("./images/decor1.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: absolute;
          top: 0;
          left: 0;
          width: 150%;
          height: 150%;
          opacity: 0.05;
          display: none;
          @media (min-width: 540px) {
            display: block;
          }
        }
        + .img {
          &:after {
            content: "";
            background-image: url("./images/decor1.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 150%;
            height: 150%;
            opacity: 0.2;
            display: none;
            @media (min-width: 540px) {
              display: block;
            }
          }
        }
      }
    }
  }
  &.three-col {
    grid-template-areas:
    "rightbottom"
  "lefttop";
    @media (min-width: 860px) {
      grid-template-areas:
   "lefttop rightbottom rightbottom";
    }
    @media (min-width: 1360px) {
      grid-template-areas:
   "lefttop righttop rightmiddle rightbottom"
    ".  righttop rightmiddle rightbottom";
      grid-template-columns:  min(28.3vw, 276px) 1fr 1fr 1fr;
    }
    .image-holder {
      background-color: #523dd7;
      @media (min-width: 1920px) {
        padding-top: 560px;
      }
      img {
        object-fit: cover;
        object-position: left;
      }
      .mobile-img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @media (min-width: 1360px) {
          display: none;
        }
        img {
          object-position: center;
        }
      }
    }
  }
  &.sm-height {
    .image-holder {
      padding-top: 320px;
    }
  }
  &.slider-project {
    @media (min-width: 860px) {
      grid-template-areas:
        "lefttop righttop righttop";
    }
    .image-holder {
      padding-left: 0;
      padding-right: 0;
      position: relative;
      &:hover {
        .project-slider {
          .slide-img {
            img {
              width: 110%;
              height: 110%;
              transition: 0.2s;
            }
          }
        }
        .bg {
          --startColor: #180c4f;
          --endColor: #640859;
          transition: --startColor 0.2s, --endColor 0.2s;
        }
      }
      .bg {
        background: radial-gradient(circle, var(--startColor) 0%, var(--endColor) 100%);
        transition: --startColor 0.4s, --endColor 0.4s;
        &.decor-table {
          &:before {
            content: "";
            width: 100%;
            height: 31.25%;
            background-image: url("./images/decor2.svg");
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: cover;
            position: absolute;
            left: 0;
            bottom: 0;
            @media (min-width: 740px) {
              height: 18.38%;
            }
            @media (min-width: 860px) {
              height: 33.98%;
            }
          }
        }
        img {
          object-fit: unset;
        }
      }
    }
    .project-slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @media (min-width: 740px) {
        width: 150%;
        left: 50%;
        transform: translateX(-50%);
      }
      @media (min-width: 740px) {
        width: 105%;
      }
      @media (min-width: 860px) {
        width: 134%;
      }
      @media (min-width: 1360px) {
        width: 100%;
      }
      .slide-img {
        align-items: unset;
        max-width: unset;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        transition: 0.4s;
        @media (min-width: 740px) {
          max-height: 45.12vw;
        }
        @media (min-width: 1360px) {
          max-height: 27.5vw;
        }
        img {
          padding: 45px;
          display: block;
          @media (min-width: 540px) {
            padding: 15px;
          }
          @media (min-width: 740px) {
            padding: 0;
          }
        }
      }
    }
  }
  &:not(.nda-project) {
    &.sm-height {
      .image-holder {
        &:hover {
          .bg {
            img {
              width: 105%;
              height: 105%;
            }
          }
        }
      }
    }
    .image-holder {
      &.border-purple {
        &:hover {
          &:after {
            border-color: #3722bc;
          }
        }
      }
      &:hover {
        transition: 0.2s;
        &:after {
          transition: 0.4s;
        }
        .img, .mobile-img {
          img {
            width: 110%;
            height: 110%;
            transition: 0.2s;
          }
        }
      }
    }
  }
  .item-lt, .item-lb {
    position: relative;
    margin-bottom: 31px;
    @media (min-width: 540px) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
    @media (min-width: 860px) {
      align-self: flex-start;
      padding-right: 30px;
    }
    @media (min-width: 1280px) {
      margin-bottom: 0;
    }
    .project-title {
      @media (min-width: 540px) {
        width: 57%;
      }
      @media (min-width: 860px) {
        width: 100%;
      }
    }
    .tags {
      position: absolute;
      bottom: 100%;
      left: 8px;
      @media (min-width: 540px) {
        position: static;
        padding-left: 10px;
        width: 43%;
        justify-content: flex-end;
      }
      @media (min-width: 860px) {
        width: 100%;
        justify-content: flex-start;
        padding-left: 0;
      }
    }
    .text {
      width: 100%;
    }
  }
  .item-lt {
    grid-area: lefttop;
  }
  .item-lb {
    grid-area: leftbottom;
  }
  .item-rt {
    grid-area: righttop;
  }
  .item-rm {
    grid-area: rightmiddle;
  }
  .item-rb {
    grid-area: rightbottom;
  }
  .text {
    font-size: 15px;
    line-height: 1.53;
    @media (min-width: 860px) {
      font-size: 16px;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .image-holder {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 9px;
    position: relative;
    top: 0;
    left: 0;
    padding: 111.12% 20px 0;
    height: 0;
    transition: 0.4s;
    @media (min-width: 540px) {
      border-radius: 8px;
      padding-top: 420px;
    }
    @media (min-width: 860px) {
      margin-bottom: 0;
    }
    @media (min-width: 1280px) {
      margin-bottom: 0;
    }
    @media (min-width: 1360px) {
      padding-top: 29.17vw;
    }
    @media (min-width: 2400px) {
      padding-top: 30vw;
    }
    &:after {
      border: 1px solid rgba($black, 0.1);
      content: "";
      width: 100%;
      height: 100%;
      background: transparent;
      position: absolute;
      border-radius: 12px;
      top: 0;
      left: 0;
      transition: 0.4s;
      @media (min-width: 540px) {
        border-radius: 8px;
      }
    }
    &.border-none {
      &:after {
        border: none;
      }
    }
    &.border-blue {
      &:after {
        border-color: #356ba4;

      }
    }
    &.border-dark-blue {
      &:after {
        border-color: #394359;
      }
    }
    &.border-purple {
      &:after {
        border-color: #523dd7;
      }
    }
    &.border-darker {
      &:after {
        border-color: rgba($black, 0.2);
      }
    }
    .logo {
      width: 60px;
      height: 72px;
      position: absolute;
      top: 19px;
      left: 24px;
      display: none;
      @media (min-width: 540px) {
        display: block;
      }
    }
    .bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      img {
        object-fit: cover;
        display: block;
      }
    }
    .img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      &.icon {
        width: 105px;
        height: 117px;
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    img {
      width: 100%;
      height: 100%;
      max-width: none;
      object-fit: contain;
      object-position: center;
      transition: 0.4s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .links {
    list-style-type: none;
    padding: 0;
    margin: 14px 0 0;
    @media (min-width: 860px) {
      font-size: 16px;
    }
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.mobile-hidden {
      @media (min-width: 860px) {
        display: block;
      }
    }
  }
}

.soon-label {
  color: $brown;
  font-family: $fourth-font;
  background-color: $beige;
  border: 1px solid $gray;
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 0.33em 0.66em;
  margin: 0;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-title {
  font-family: $third-font;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  font-size: 24px;
  margin-bottom: 8px;
}

.tags {
  color: $brown;
  font-family: $fourth-font;
  list-style-type: none;
  padding: 0;
  margin: 0 -2px 8px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0;
  text-transform: uppercase;
  @media (min-width: 540px) {
    margin-bottom: 0;
  }
  @media (min-width: 860px) {
    margin-bottom: 6px;
  }
  li {
    background-color: $beige;
    border: 1px solid $gray;
    padding: 0.05em 0.6em;
    margin: 0 2px 0.66em;
    border-radius: 4px;
    @media (min-width: 540px) {
      border-radius: 8px;
    }
  }
}

.old-projects {
  margin-top: 41px;
  @media (min-width: 860px) {
    display: flex;
    margin-top: 80px;
  }
  .project-title {
    color: $brown;
  }
  .col-left {
    @media (min-width: 860px) {
      width: 29vw;
      max-width: 280px;
      padding-right: 44px;
    }
  }
  .col-right {
    @media (min-width: 860px) {
      flex: 1;
    }
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    row-gap: 8px;
    column-gap: 8px;
    @media (min-width: 540px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 740px) {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  .item {
    a {
      display: block;
      padding-top: calc(100% - 2px);
      background: #eceded;
      border: 1px solid #e3e3e3;
      border-radius: 12px;
      position: relative;
      transition: 0.4s;
      @media (min-width: 540px) {
        border-radius: 8px;
      }
      @media (min-width: 860px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        background: #f1e5e5;
        border: 1px solid #ddbfbf;
        transition: 0.2s;
        .icon {
          filter: invert(13%) sepia(96%) saturate(3733%) hue-rotate(352deg) brightness(85%) contrast(94%);
          transition: 0.2s;
        }
        .link {
          border-bottom-color: $red;
          transition: 0.1s;
        }
      }
    }
    .icon {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 16px;
      height: 16px;
      transition: 0.4s;
      @media (min-width: 1360px) {
        top: 16px;
        left: 16px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .year {
      font-family: $fourth-font;
      color: $brown;
      font-size: 12px;
      font-weight: 300;
      position: absolute;
      top: 8px;
      left: 8px;
      @media (min-width: 1360px) {
        top: 16px;
        left: 16px;
      }
    }
    .link {
      display: none;
      border-bottom: 1px solid rgba($blue, 0.2);
      transition: 0.3s;
      @media (min-width: 1280px) {
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 8px;
        margin-bottom: 4px;
      }
      @media (min-width: 1360px) {
        margin-left: 16px;
        margin-bottom: 8px;
      }
    }
    img {
      width: 50%;
      height: 50%;
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (min-width: 740px) {
        width: 40%;
        height: 40%;
      }
      @media (min-width: 860px) {
        width: 80%;
        height: 50%;
        top: 55%;
      }
      @media (min-width: 1280px) {
        width: 50%;
        height: 50%;
        top: 50%;
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: inherit;
  transition: transform 0.3s ease, opacity 0.3s ease;
  @media (min-width: 740px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  @media (min-width: 540px) {
    top: 54%;
  }
  @media (min-width: 860px) {
    top: 49%;
  }
  &:after {
    content: "";
    background-image: url("./images/left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 14px;
    width: 30px;
    height: 30px;
    @media (min-width: 540px) {
      background-size: 15px 18px;
    }
    @media (min-width: 860px) {
      background-size: 15px 23px;
    }
    @media (min-width: 1920px) {
      background-size: 20px 24px;
    }
    @media (min-width: 2400px) {
      background-size: 26px 31px;
      width: 40px;
      height: 40px;
    }
  }
}

.swiper-button-prev {
  left: 0;
  @media (min-width: 540px) {
    left: 42px;
  }
  @media (min-width: 740px) {
    left: calc(50% - 20.59vw);
    transform: translateX(-50%);
  }
  @media (min-width: 860px) {
    left: calc(50% - 17vw);
  }
  @media (min-width: 980px) {
    left: calc(50% - 15vw);
  }
}

.swiper-button-next {
  right: 0;
  @media (min-width: 540px) {
    right: 42px;
  }
  @media (min-width: 740px) {
    right: calc(50% - 20.59vw);
    transform: translateX(-50%);
  }
  @media (min-width: 860px) {
    right: calc(50% - 18vw);
  }
  @media (min-width: 980px) {
    right: calc(50% - 15vw);
  }
  &:after {
    transform: rotate(180deg);
  }
}

.nda-project {
  @media (min-width: 860px) {
    grid-template-areas: "lefttop righttop righttop";
  }
  .item-rt {
    &:hover {
      .nda-title {
        color: $white;
        transform: translate(-50%, -50%) scale(1.1);
        transition: 0.1s;
      }
    }
  }
  .image-holder {
    .bg {
      &:before, &:after {
        content: "";
        width: 32.56vw;
        height: 100%;
        position: absolute;
        top: 0;
        display: none;
        @media (min-width: 740px) {
          display: block;
        }
      }
      &:before {
        background: linear-gradient(270deg, rgba(25, 39, 50, 0) 0%, rgba(25, 39, 50, 1) 100%);
        left: 0;
      }
      &:after {
        background: linear-gradient(90deg, rgba(25, 39, 50, 0) 0%, rgba(25, 39, 50, 1) 100%);
        right: 0;
      }
    }
    .img {
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("./images/shine.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        animation: rocketshine 5s infinite;
        @media (min-width: 1360px) {
          background-size: contain;
        }
      }
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("./images/noise.gif");
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.05;
      }
      img {
        object-fit: cover;
        @media (min-width: 1360px) {
          object-fit: contain;
        }
      }
    }
  }
}

.blimb-project {
  .image-holder {
    background: linear-gradient(121deg, rgba(181, 206, 255, 0.10) 75.24%, rgb(181, 206, 255, .7) 100%);
    position: relative;
    @media (min-width: 1360px) {
      padding-top: 37.5vw;
    }
    @media (min-width: 2400px) {
      padding-top: 36.67vw;
    }
    &:hover {
      background-color: rgba(147, 0, 0, 0.2);
      &.border-darker {
        &:after {
          border: 1px solid rgb(125, 0, 0);
        }
      }
    }
    &:before {
      content: "";
      background-image: url(./images/noise.png);
      opacity: 0.05;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.noise {
  object-fit: cover;
}

.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .eye {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 24s;
    animation-name: eyemoves;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.66, -0.01, .36, 1);
    img {
      width: 80vw;
      height: 80vw;
      @media (min-width: 540px) {
        width: 344px;
        height: 344px;
      }
      @media (min-width: 980px) {
        width: 360px;
        height: 360px;
      }
      @media (min-width: 1360px) {
        width: 31.25vw;
        height: 31.25vw;
      }
    }
  }
  .ball {
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(15%, 0);
    animation-duration: 24s;
    animation-name: ballmoves;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

.nda-title {
  font-family: $inter-font;
  color: rgba($black, 0.3);
  font-weight: 400;
  font-size: 256px;
  text-align: center;
  margin: 0;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 740px) {
    display: flex;
  }
  @media (min-width: 860px) {
    letter-spacing: 0.1em;
  }
  @media (min-width: 980px) {
    font-size: 24.375vw;
    left: 50%;
  }
  @media (min-width: 1360px) {
    font-size: 26.67vw;
  }
  @media (min-width: 1920px) {
    font-size: 512px;
  }
}

/* ------------------------ BLIMB ANIMATION ------------------------ */

@keyframes eyemoves {
  0% {
    transform: translate(-80px, 0) scale(0.98, 1);
  }
  14% {
    transform: translate(80px, 0) scale(0.98, 1);
  }
  21% {
    transform: translate(0px, 0);
  }
  28% {
    transform: translate(-80px, -15px) scale(0.98, 1);
  }
  33% {
    transform: translate(-35px, -15px);
  }
  43% {
    transform: translate(10px, 15px);
  }
  53% {
    transform: translate(70px, -15px) scale(0.99, 1);
  }
  56% {
    transform: translate(80px, -10px) scale(0.98, 1);
  }
  68% {
    transform: translate(-40px, 15px);
  }
  72% {
    transform: translate(-80px, 15px) scale(0.98, 1);
  }
  79% {
    transform: translate(0px, 12.5px);
  }
  86% {
    transform: translate(80px, 10px) scale(0.98, 1);
  }
  93% {
    transform: translate(0px, 5px);
  }
  100% {
    transform: translate(-80px, 0) scale(0.98, 1);
  }
}

@keyframes ballmoves {
  0% {
    top: 45%;
    left: 0;
  }
  14% {
    top: 40%;
    left: 98%;
  }
  28% {
    top: 30%;
    left: 0;
  }
  33% {
    top: 0;
    left: 20%;
  }
  43% {
    top: 97%;
    left: 60%;
  }
  53% {
    top: 0;
    left: 90%;
  }
  56% {
    top: 10%;
    left: 98%;
  }
  68% {
    top: 95%;
    left: 30%;
  }
  72% {
    top: 90%;
    left: 0;
  }
  86% {
    top: 70%;
    left: 98%;
  }
  100% {
    top: 45%;
    left: 0;
  }
}

/* ------------------------ ELF ANIMATION ------------------------ */

@keyframes rocketshine {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.3;
  }
  32% {
    opacity: 0.5;
  }
  37% {
    opacity: 0.3;
  }
  39% {
    opacity: 0.5;
  }
  44% {
    opacity: 0.3;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}